<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Music Sphere : HOME PAGE</title>
<link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
	<!--  
		<a href="login">LOGIN</a> <br><br>
		<a href = "registration">REGISTER</a>
	-->
	<div class="container">
		<div class="h1">
			<h2>Something in life seems incomplete without songs...</h2>
		</div>
		<div class="links">
			<div class="login">
				<a href="login">LOGIN</a>
			</div>
			<br>
			<div class="register">
				<a href="registration">REGISTER</a>
			</div>
		</div>
	</div>
	<div class="image1"></div>
	 
	<div class="image2"></div>
	 
</body>
</html>