<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Tune Hub : LOGIN PAGE</title>
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<!--
	<h1>User LOGIN : </h1>
	<form action="validate" method="post">
		<label>Email : </label>
		<input type="email" name="email" required="required"><br><br>
		<label>Password : </label>
		<input type="password" name="password" required="required"><br><br>
		<input type="submit" value="LOGIN">
	</form>
  -->
  	
	<div class="container">
		<form action="validate" method="post">
			<h2>Login Page</h2>
			<label>Email:</label>
			<input type="email" name="email" required="required" placeholder="Enter Your Email"><br>
			
			<label> Password:</label>
			<input type="password" name="password" required="required" placeholder="Enter Your Password"><br>
			<br>
			<input type="submit" value="LOGIN" class="login"/>
			<div class="footer">
				<p>Don't have an account...<a href="registration" >REGISTER</a></p>
			</div>
		</form>
	</div>
	
</body>
</html>
